.auth-right {
    background-color: #fff !important;
    display: flex !important;
    flex-direction: column !important;
}

.auth-banner-mobile {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: none;
}

.auth-banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.auth-banner-overlay {
    position: absolute;
    inset: 0;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    color: white;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.7) 100%);
    z-index: 1;
}

.auth-title-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (max-width: 991.98px) {
    body .auth-right {
        background-color: transparent !important;
        height: auto !important;
        display: block !important;
    }

    .auth-banner-mobile {
        display: block !important;
        height: 250px !important;
        border-radius: 28px 28px 0 0 !important;
        overflow: hidden !important;
        position: relative;
    }

    .auth-banner-overlay {
        border-radius: 28px 28px 0 0 !important;
    }

    body .auth-right {
        background-color: transparent !important;
        height: auto !important;
        display: block !important;
    }

    .auth-main-title {
        font-size: 3rem !important;
        line-height: 1.1 !important;
        font-weight: 800;
        margin: 0;
        color: white !important;
    }

    .text-precision {
        font-size: 3rem !important;
        color: #01edc6;
        font-weight: 900;
    }

    .auth-form-container {
        padding: 2.5rem 1.5rem 3rem 1.5rem !important;
        margin-top: -30px !important;
        border-radius: 35px 35px 28px 28px !important;
        background: #fff !important;
        position: relative;
        z-index: 5;
    }

    .auth-form-content {
        width: 100% !important;
        max-width: 380px !important;
    }
}

.auth-card {
    overflow: visible !important;
    background: #fff;
    display: flex;
    min-height: 620px;
}

@media (min-width: 992px) {

    body .auth-right {
        height: 620px !important;
        display: flex !important;
        justify-content: center !important;
    }

    .auth-form-container {
        flex: 1;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100%;
    }

    .auth-form-content {
        width: 100%;
        max-width: 400px;
    }
}